#userFeedback {
    background-color: #6C757D;
    border-radius: 5vh;
    display: table-row;
    justify-content: right;
    width:max-content;
    height: max-content;
    position: fixed;
    bottom: 0;
}

#feedback {
    border-radius: 5vh;
    background-color: #212529;
    color: #ffffff;
    margin: 1vh;
    padding: 2vh;
}

#feedback img {
    width: 4vh;
}

#feedback .text {
    margin: 2vh;
}