.card{
    border: 0.2rem solid rgb(255, 255, 255);
    padding: 5rem;
    border-radius: 2rem;
    border-color: #fff;
    max-width: 30rem;
    height: max-content;
}

.card img {
    aspect-ratio:  attr(width) / attr(height);
    margin: auto;
    margin-top: 1rem;
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: 2vh;
    object-fit: cover
}

.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}