#titleDiv {
    width: 20rem;
    text-align: center;
    color: #fff;
    background: #212529;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    font-family: papyrus;
    border-radius: 1rem;
    border: 0.1rem solid rgb(255, 255, 255);
}