#titleDiv {
    width: 20rem;
    text-align: center;
    color: #fff;
    background: #212529;
    margin: auto;
    margin-top: 3rem;
    border-radius: 2rem;
    padding: 1rem;
    font-family: papyrus;
}