#form {
    color: #ffffff;
    background: #212529;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.2rem solid rgb(255, 255, 255);
    min-width: 40vh;
}

.buttonForm {
    font-size: 1.6rem;
    margin: 1rem;
}

.votes {
    text-align: left;
    width:100%;
    display: flex;
    border-radius:10pt;
    padding: 0.3vh;
    background-color: #ffffff;
}

.yes, .no {
    text-align: center;
    border-radius: 10pt 0pt 0pt 10pt;
}

.yes{
    background: rgb(0, 70, 0);
    border-radius: 10pt 0pt 0pt 10pt;
    margin-right: 0.4vh;
}

.no {
    background: rgb(97, 0, 0);
    border-radius: 0pt 10pt 10pt 0pt
}